<footer class="ui center aligned text container">
	<div class="row">
		<p class="black">© 2016 Francisco Knebel.
			<br>
			Built with
			<strong>
				<a href="http://semantic-ui.com/" target="_blank">Semantic UI</a>
			</strong>
			<br>
			Fonts by
			<strong>
				<a href="http://fontawesome.io/" target="_blank">Font Awesome</a>
			</strong>
		</p>
	</div>
	<div class="row">
		<div class="ui massive horizontal list">
			<a class="item" href="https://www.twitter.com/franciscoknebel" target="_blank">
				<i class="circular black twitter icon"></i>
			</a>
			<a class="item" href="https://www.github.com/franciscoknebel/fcc-pinterest" target="_blank">
				<i class="circular black github alternate icon"></i>
			</a>
		</div>
	</div>
</footer>

<script src="/js/jquery.js" charset="utf-8"></script>
<script src="/js/semantic.js" charset="utf-8"></script>

<script>
	<% if(typeof user !== "undefined") { %>
		$('#addlink').on('click', function() { $('#linksection').toggleClass('active'); $('#addlink').toggleClass('active'); $('body').toggleClass('active');});
	<% } %>
	$('.message .close').on('click', function() { $(this).closest('.message').transition('fade'); });
</script>
