<% if(typeof user !== "undefined") { %>
	<div class="ui red top fixed large inverted borderless menu">
		<a href="/" class="header item navitem">
			<img src="/favicon.ico" class="ui avatar image"/>
		</a>
		<a href="/" class="item navitem">
			<i class="add icon"></i>
		</a>
		<div class="right menu">
			<a href="#" class="item navitem">
				<img class="ui bordered avatar image" src="<%= user.twitter.image %>"/>
			</a>
			<a href="/logout" class="active item icon navitem">
				<i class="large sign out icon"></i>
			</a>
		</div>
	</div>
<% } else { %>
	<div class="ui borderless top fixed large inverted menu">
		<a href="/" class="header item navitem">
			<img src="/favicon.ico" class="ui avatar image"/>
		</a>
		<div class="right menu">
			<a class="active item icon navitem" tabindex="0" id="loginButton" href="/auth/twitter">
				<i class="large twitter icon" style="padding-right: 0.5em"></i>
				<span>Login</span>
			</a>
		</div>
	</div>
</div>
<% } %>
