<!DOCTYPE html>
<html>
	<head>
		<title>fcc-pinterest</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui text container" id="top">
			<div class="ui segment"></div>
		</div>

		<% include ../snippets/footer %>
	</body>
</html>
