<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>fcc-pinterest</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui text container" id="top">
			<div class="ui segments">
				<div class="ui center aligned segment">
					<h1>fcc-pinterest</h1>
				</div>
				<div class="ui center aligned segment">
					<h3>Log in using Twitter</h3>
					<a class="ui large twitter button" href="/auth/twitter">
						<i class="big twitter icon"></i>
						Login
					</a>
				</div>
			</div>
		</div>

		<% include ../snippets/footer %>
	</body>
</html>
